@model Health_Insurance.Models.Home

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Home</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Homeimage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Homeimage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facebook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instgram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instgram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
